<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>

    <!-- Spawn Conveyor Belt Model -->
    <node name="spawn_conveyor_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/conveyor_belt/model.sdf -sdf -model conveyor_belt -x 0 -y 0 -z 0" />

    <node name="trashcan" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/box/model.sdf -sdf -model trashcan -x 1.25 -y 0 -z 0" />
    <node name="box_for_blue_cubes" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/box/model.sdf -sdf -model box_for_blue_cubes -x 0.75 -y 0.5 -z 0" />
    <node name="box_for_red_cylinders" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/box/model.sdf -sdf -model box_for_red_cylinders -x 0.75 -y -0.5 -z 0" />

    <!-- Spawn Camera Model -->
    <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/camera/model.urdf -urdf -model camera -x 0 -y 0 -z 1.5" />
    <!-- Launch the spawn_objects.py node -->
    <node name="generate_training_data" pkg="conveyer-belt-cv-package" type="generate_training_data.py" output="screen" />

    <!--
    <node name="spawn_small_red_cylinder" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/small_red_cylinder/model.sdf -sdf -model small_red_cylinder -x -0.8 -y 0.1 -z 1.05" />
    <node name="spawn_small_blue_cube" pkg="gazebo_ros" type="spawn_model" args="-file $(find conveyer-belt-cv-package)/models/small_blue_cube/model.sdf -sdf -model small_blue_cube -x -0.8 -y -0.1 -z 1.05" />
    -->



</launch>