<?xml version="1.0"?>
<launch>
  <!-- UR5 parameters files -->
  <arg name="joint_limit_params" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <arg name="kinematics_params" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <arg name="physical_params" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <arg name="visual_params" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
  <!-- Common parameters -->
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="safety_limits" default="false" doc="If True, enable the safety limits controller"/>
  <arg name="safety_pos_margin" default="0.15" doc="The lower/upper limits in the safety controller" />
  <arg name="safety_k_position" default="20" doc="Used to set k position in the safety controller" />

  <arg name="robot_model" value="ur5" />

  <!-- Load the UR5 robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur_description)/urdf/ur5.urdf.xacro'
    joint_limit_params:=$(arg joint_limit_params)
    kinematics_params:=$(arg kinematics_params)
    physical_params:=$(arg physical_params)
    visual_params:=$(arg visual_params)
    transmission_hw_interface:=$(arg transmission_hw_interface)
    safety_limits:=$(arg safety_limits)
    safety_pos_margin:=$(arg safety_pos_margin)
    safety_k_position:=$(arg safety_k_position)" />

  <!-- Use common launch file and pass all arguments to it -->
  <include file="$(find ur_description)/launch/load_ur.launch" pass_all_args="true"/>

  <!-- Load the controllers -->
  <rosparam file="$(find ur_gazebo)/config/ur5_controllers.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="joint_state_controller eff_joint_traj_controller" />
  <node name="stopped_controllers_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="joint_group_eff_controller" />

  <!-- Start the controller manager -->
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" />

  <!-- Spawn the UR5 robot in Gazebo -->
  <node name="ur5_spawner" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ur5 -x 0 -y 0 -z 0" />
</launch>