<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>

    <!-- Spawn Conveyor Belt Model -->
    <node name="spawn_conveyor_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/conveyor_belt/model.sdf -sdf -model conveyor_belt -x 0 -y 0 -z 0" />

    <node name="trashcan" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/box/model.sdf -sdf -model trashcan -x 1.25 -y 0 -z 0" />
    <node name="box_for_blue_cubes" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/box/model.sdf -sdf -model box_for_blue_cubes -x 0.75 -y 0.5 -z 0" />
    <node name="box_for_red_cylinders" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/box/model.sdf -sdf -model box_for_red_cylinders -x 0.75 -y -0.5 -z 0" />

    <!-- Spawn Camera Model -->
    <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/camera/model.urdf -urdf -model camera -x 0 -y 0 -z 1.5" />
    <!-- Launch the spawn_objects.py node -->
    <node name="spawn_objects" pkg="simulation" type="spawn_objects.py" output="screen" />

    <!-- Load the UR5 robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find simulation)/models/robot/ur5.xacro' prefix:=ur5_robot" />

    <!-- Spawn UR5 Robot in Gazebo -->
    <node name="spawn_ur5" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ur5 -x 0.5 -y -0.5 -z 0.95   -R 0 -P 0 -Y 0" />

    <!-- Load the controllers for the ur5 robot -->
    <rosparam file="$(find ur_gazebo)/config/ur5_controllers.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller eff_joint_traj_controller" />

    <!-- Launch the collect_camera_images.py node -->
    <node name="collect_camera_images" pkg="simulation" type="collect_camera_images.py" output="screen" />

</launch>