<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>

    <!-- Spawn Conveyor Belt Model -->
    <node name="spawn_conveyor_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/conveyor_belt/model.sdf -sdf -model conveyor_belt -x 0 -y 0 -z 0" />

    <!-- Launch the spawn_objects.py node -->
    <node name="spawn_objects" pkg="simulation" type="spawn_objects.py" output="screen" />

    <!--
    <node name="spawn_small_red_cylinder" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/small_red_cylinder/model.sdf -sdf -model small_red_cylinder -x -0.8 -y 0.1 -z 1.05" />
    <node name="spawn_small_blue_cube" pkg="gazebo_ros" type="spawn_model" args="-file $(find simulation)/models/small_blue_cube/model.sdf -sdf -model small_blue_cube -x -0.8 -y -0.1 -z 1.05" />
    -->

</launch>