<launch>
  <arg name="prefix" default="ur5_" />
  <arg name="robot_ip" default="192.168.0.1" />
  <arg name="launch_geometry" default="true" />

  <!-- 1) Load the UR5 model into the /robot_description param -->
<param name="robot_description"
       command="$(find xacro)/xacro '$(find ur_description)/urdf/ur5.xacro'
                prefix:=ur5_ 
                robot_ip:=192.168.0.1
                launch_geometry:=true" 
    />


  <!-- In ur5_spawn.launch -->
<node name="spawn_ur5" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description
            -urdf
            -model ur5_robot
            -x 0.0
            -y 1.0
            -z 0.9"
      respawn="false" output="screen" />

<!-- Add fixed joint -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_joint" 
        args="-urdf -param robot_description -model fixed_to_table
              -gazebo_namespace /gazebo
              -J table_ur5_joint 0">
    <remap from="/joint_states" to="/ur5/joint_states"/>
  </node>

<!-- So base is at table-top height -->
</launch>
